@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@smastrom/react-rating/style.css";
@import "ckeditor5/ckeditor5.css";
@import "rc-checkbox/assets/index.css";
@import "rc-slider/assets/index.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "react-international-phone/style.css";
@import "react-loading-skeleton/dist/skeleton.css";
@import "react-photo-view/dist/react-photo-view.css";
@import "react-responsive-modal/styles.css";

:root {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #009739;
  --color-primary-600: #008131;
  --color-primary-700: #006628;
  --color-primary-800: #004d1f;
  --color-primary-900: #003315;
  --color-primary-950: #001a0a;

  --color-secondary-50: #fffdea;
  --color-secondary-100: #fef9c3;
  --color-secondary-200: #fef08a;
  --color-secondary-300: #fde047;
  --color-secondary-400: #facc15;
  --color-secondary-500: #ffcc29;
  --color-secondary-600: #e6b800;
  --color-secondary-700: #cca300;
  --color-secondary-800: #997a00;
  --color-secondary-900: #665200;
  --color-secondary-950: #332900;

  --color-tertiary-50: #eff6ff;
  --color-tertiary-100: #dbeafe;
  --color-tertiary-200: #bfdbfe;
  --color-tertiary-300: #93c5fd;
  --color-tertiary-400: #60a5fa;
  --color-tertiary-500: #002776;
  --color-tertiary-600: #001f5e;
  --color-tertiary-700: #001947;
  --color-tertiary-800: #00122f;
  --color-tertiary-900: #000c1a;
  --color-tertiary-950: #00060d;

  --color-info-50: #eff6ff;
  --color-info-100: #dbeafe;
  --color-info-200: #bfdbfe;
  --color-info-300: #93c5fd;
  --color-info-400: #60a5fa;
  --color-info-500: #3b82f6;
  --color-info-600: #2563eb;
  --color-info-700: #1d4ed8;
  --color-info-800: #1e40af;
  --color-info-900: #1e3a8a;
  --color-info-950: #0f172a;

  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;
  --color-success-950: #022c22;

  --color-alert-50: #fef3c7;
  --color-alert-100: #fde68a;
  --color-alert-200: #fcd34d;
  --color-alert-300: #fbbf24;
  --color-alert-400: #f59e0b;
  --color-alert-500: #d97706;
  --color-alert-600: #b45309;
  --color-alert-700: #92400e;
  --color-alert-800: #78350f;
  --color-alert-900: #45141d;
  --color-alert-950: #3b0e14;

  --color-destructive-50: #fff1f4;
  --color-destructive-100: #ffe0e6;
  --color-destructive-200: #ffb3c0;
  --color-destructive-300: #ff8096;
  --color-destructive-400: #ff4d6b;
  --color-destructive-500: #e60036;
  --color-destructive-600: #c9002f;
  --color-destructive-700: #a30026;
  --color-destructive-800: #7d001d;
  --color-destructive-900: #520013;
  --color-destructive-950: #2b0009;

  --color-background: #f6f5f7;
  --color-foreground: #1f1f1f;
  --color-bg-card: #ffffff;
  --color-border-card: #ffffff;

  --font-primary: "Work Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", sans-serif;
  --font-secondary: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", sans-serif;
}

:root.dark {
  --color-background: #111111;
  --color-foreground: #fffefc;
  --color-bg-card: #222222;
  --color-border-card: #444444;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: var(--font-secondary);
}

button {
  display: flex;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply capitalize;
}

@layer utilities {
  .rc-slider-disabled {
    background-color: var(--color-background) !important;
  }
}

.react-international-phone-input-container,
.react-international-phone-input,
.react-international-phone-country-selector,
.react-international-phone-country-selector-button,
.react-international-phone-country-selector-dropdown {
  border: 0 !important;
  box-shadow: none !important;
}

.react-international-phone-country-selector-button {
  border-right: 0 !important;
}

.react-international-phone-input:focus,
.react-international-phone-country-selector-button:focus,
.react-international-phone-country-selector-button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
